<!-- Wappler include head-page="MasterDetailrough2" appconnect="local" is="dmx-app" bootstrap5="local" fontawesome_5="cdn" id="MDPartial" -->
<div class="d-flex justify-content-center mt-4 mb-4">
    <form id="form1">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">First</th>
                        <th scope="col">Last</th>
                        <th scope="col">Handle</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody is="dmx-repeat" id="repeat1" dmx-bind:repeat="3">
                    <tr>
                        <th scope="row">{{$index}}</th>
                        <td>
                            <dmx-value id="cellVar" dmx-bind:value="0"></dmx-value>

                            <label name="id-to-edit" class="col-sm-12" dmx-bind:value="'someVal'" dmx-show="(cellVar.value == 0)" dmx-on:click="cellVar.setValue(1)" dmx-text="first_name_edited.value"></label>

                            <input name="first_name_edited" class="form-control" dmx-show="(cellVar.value == 1)" dmx-on:blur="cellVar.setValue(0);idtoedit.setValue(value)" value="Default value" placeholder="Enter first name">
                        </td>

                        <td>

                            <label name="id-to-edit2" class="col-sm-12" dmx-bind:value="'someVal'" dmx-show="(cellVar.value == 0)" dmx-on:click="cellVar.setValue(1)" dmx-text="first_name_edited2.value"></label>

                            <input name="first_name_edited2" class="form-control" dmx-show="(cellVar.value == 1)" dmx-on:blur="cellVar.setValue(0);idtoedit2.setValue(value)" value="Default value2" placeholder="Enter Last name">
                        </td>
                        <td>
                            <label name="id-to-edit3" class="col-sm-12" dmx-bind:value="'someVal'" dmx-show="(cellVar.value == 0)" dmx-on:click="cellVar.setValue(1)" dmx-text="first_name_edited3.value"></label>

                            <input name="first_name_edited3" class="form-control" dmx-show="(cellVar.value == 1)" dmx-on:blur="cellVar.setValue(0);idtoedit3.setValue(value)" value="Default value3" placeholder="Enter email">

                        </td>
                        <td>
                            <button id="btn1" class="btn" wappler-empty="Editable" wappler-command="editContent"><i class="fas fa-pen" dmx-on:click="cellVar.setValue(1)" dmx-show="(cellVar.value == 0)"></i></button>
                            <button id="btn2" class="btn"><i class="fas fa-check" dmx-on:click="cellVar.setValue(0)" dmx-show="(cellVar.value == 1)"></i></button>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
        <!--
        <input name="id-to-edit" type="hidden" class="form-control" dmx-bind:value="id">
        <input name="first_name_edited" type=" text" class="form-control editablerow" dmx-on:blur="editFirstName.submit()" dmx-bind:value="first_name">
        -->
    </form>
</div>

<!--
    <tr>
                        <th scope="row">2</th>
                        <td>
                            <dmx-value id="cellVar" dmx-bind:value="0"></dmx-value>

                            <label name="id-to-edit" class="col-sm-12" dmx-bind:value="'someVal'" dmx-show="(cellVar.value == 0)" dmx-on:click="cellVar.setValue(1)" dmx-text="first_name_edited.value"></label>

                            <input name="first_name_edited" class="form-control" dmx-show="(cellVar.value == 1)" dmx-on:blur="cellVar.setValue(0);idtoedit.setValue(value)" value="Default value" placeholder="Enter first name">
                        </td>

                        <td>

                            <label name="id-to-edit2" class="col-sm-12" dmx-bind:value="'someVal'" dmx-show="(cellVar.value == 0)" dmx-on:click="cellVar.setValue(1)" dmx-text="first_name_edited2.value"></label>

                            <input name="first_name_edited2" class="form-control" dmx-show="(cellVar.value == 1)" dmx-on:blur="cellVar.setValue(0);idtoedit2.setValue(value)" value="Default value2" placeholder="Enter Last name">
                        </td>
                        <td>
                            <label name="id-to-edit3" class="col-sm-12" dmx-bind:value="'someVal'" dmx-show="(cellVar.value == 0)" dmx-on:click="cellVar.setValue(1)" dmx-text="first_name_edited3.value"></label>

                            <input name="first_name_edited3" class="form-control" dmx-show="(cellVar.value == 1)" dmx-on:blur="cellVar.setValue(0);idtoedit3.setValue(value)" value="Default value3" placeholder="Enter email">

                        </td>
                    </tr>
    -->