<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h3>Heading in index page</h3>
        </div>
    </div>
    <div class="row">
        <div class="col"></div>
        <div class="col"></div>
    </div>
</div><!-- Wappler include head-page="layouts/admin" fontawesome_5="cdn" bootstrap5="local" is="dmx-app" id="admin_index" appConnect="local" components="{dmxRouting:{},dmxDataTraversal:{}}" -->
<meta name="ac:route" content="/admin_index">