<dmx-serverconnect id="scGetOneAgreement" url="/api/adminOps/getOneAgreement" dmx-param:agreement_id="2"></dmx-serverconnect>
<dmx-serverconnect id="serverconnect1" url="/api/adminOps/getAllAgreements"></dmx-serverconnect><!-- Wappler include head-page="layouts/admin" fontawesome_5="cdn" bootstrap5="local" is="dmx-app" id="MasterDetailrough" appConnect="local" components="{dmxBootstrap5TableGenerator:{},dmxFormatter:{},dmxMasonry:{},dmxRouting:{},dmxDataTraversal:{}}" -->

<dmx-data-detail id="data_detail1" dmx-bind:data="scGetOneAgreement.data.api.data" key="id"></dmx-data-detail>
<div class="container mt-3 mb-3">
    <div class="row">
        <div class="col">
            <form id="form1">
                <h2 class=" text-black-50">Discount Agreement</h2>
                <p class="text-black-50 lh-lg">The Parties agree that this Discount Letter forms art of the Framework Agreement entered into between the Parties</p>
                <div class="row mb-3">
                    <div class="col">
                        <div class="mb-3">
                            <label for="inputContractId" class="form-label"><b>Contract Id</b></label>
                            <input type="text" class="form-control" id="inputContractId" name="contractId" aria-describedby="input1_help" placeholder="Enter contract id" dmx-bind:value="scGetOneAgreement.data.api.data.agreementName">
                            <small id="input1_help" class="form-text text-muted">Contract Id is unique between the parties in Agreement</small>
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col">
                        <div class="mb-3">
                            <label for="input1" class="form-label"><b>Contract Parties</b></label>

                            <input type="text" class="form-control" id="input1" name="input1" aria-describedby="input1_help" placeholder="Enter a contract party" dmx-bind:value="scGetOneAgreement.data.api.data.operator1">
                            <small id="input1_help" class="form-text text-muted">Party part of the agreement</small>
                        </div>
                    </div>
                    <div class="col-2 align-self-center">
                        <p class="text-center fw-bold w-auto h-auto">AND</p>
                    </div>
                    <div class="col">
                        <div class="mb-3">
                            <label for="input1" class="form-label"></label><input type="text" class="form-control" id="input2" name="input2" aria-describedby="input1_help" placeholder="Enter the 2nd contract party" dmx-bind:value="scGetOneAgreement.data.api.data.operator2">
                            <small id="input1_help1" class="form-text text-muted">Party part of the agreement</small>
                        </div>
                    </div>
                </div>


                <div class="row mb-4">
                    <div class="col">
                        <div class="mb-3">
                            <label for="input3" class="form-label"><b>Framework Agreement Contract Id</b></label>
                            <input type="text" class="form-control" id="input3" name="input3" aria-describedby="input3_help" placeholder="Enter framework agreement contract id" dmx-bind:value="scGetOneAgreement.data.api.data.frmkAgrContrId">
                            <small id="input3_help" class="form-text text-muted">framework agreement id related to this contract.</small>
                        </div>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col">
                        <div class="mb-3">
                            <label for="input4" class="form-label"><b>Time for termination notice</b></label>
                            <input type="text" class="form-control" id="input4" name="input4" aria-describedby="input4_help" placeholder="Enter termination notice time" dmx-bind:value="2">
                            <small id="input4_help" class="form-text text-muted">The&nbsp; termination notice should be provided at least x months ahead</small>
                        </div>
                    </div>
                    <div class="align-self-center col-2">
                        <p class="align-self-center">Months(s)</p>
                    </div>
                    <div class="col">
                        <div class="mb-3">
                            <label for="input5" class="form-label"><b>Date Signed</b></label>
                            <input type="text" class="form-control" id="input5" name="input5" aria-describedby="input5_help" placeholder="Enter some text" dmx-bind:value="scGetOneAgreement.data.api.data.dateSigned">
                            <small id="input5_help" class="form-text text-muted">Date when the contract was signed</small>
                        </div>
                    </div>

                </div>
                <div class="row mb-4">
                    <div class="col align-self-center">
                        <p><b>Eligible Period:</b></p>
                    </div>
                    <div class="col">
                        <div class="mb-3">
                            <label for="periodStartDate" class="form-label"><b>Start Date</b></label>
                            <input type="text" class="form-control" id="periodStartDate" name="input6" aria-describedby="input6_help" placeholder="Enter some text" dmx-bind:value="scGetOneAgreement.data.api.data.startDate">
                            <small id="input6_help" class="form-text text-muted">Your input is very valuable.</small>
                        </div>
                    </div>
                    <div class="col">
                        <div class="mb-3">
                            <label for="periodEndDate" class="form-label"><b>End Date</b></label>
                            <input type="text" class="form-control" id="periodEndDate" name="input7" aria-describedby="input7_help" placeholder="Enter some text" dmx-bind:value="scGetOneAgreement.data.api.data.endDate">
                            <small id="input7_help" class="form-text text-muted">Your input is very valuable.</small>
                        </div>
                    </div>
                    <div class="col">
                        <div class="mb-3">
                            <label for="input8" class="form-label"><b>Period in Months</b></label>
                            <input type="text" class="form-control" id="input8" name="input8" aria-describedby="input8_help" placeholder="Enter some text">
                            <small id="input8_help" class="form-text text-muted">Your input is very valuable.</small>
                        </div>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col align-self-center">
                        <p><b>Term:</b></p>
                    </div>
                    <div class="col">
                        <div class="mb-3">
                            <label for="inp_termStartDate" class="form-label"><b>Start Date</b></label>
                            <input type="text" class="form-control" id="inp_termStartDate" name="input9" aria-describedby="input6_help" placeholder="Enter some text">
                            <small id="input6_help1" class="form-text text-muted">Your input is very valuable.</small>
                        </div>
                    </div>
                    <div class="col">
                        <div class="mb-3">
                            <label for="inp_termStartDate" class="form-label"><b>End Date</b></label>
                            <input type="text" class="form-control" id="input9" name="input9" aria-describedby="input7_help" placeholder="Enter some text">
                            <small id="input7_help1" class="form-text text-muted">Your input is very valuable.</small>
                        </div>
                    </div>
                    <div class="col">
                        <div class="mb-3">
                            <label for="inp_termStartDate" class="form-label"><b>Period in Months</b></label>
                            <input type="text" class="form-control" id="input9" name="input9" aria-describedby="input8_help" placeholder="Enter some text" dmx-bind:value="">
                            <small id="input8_help1" class="form-text text-muted">Your input is very valuable.</small>
                        </div>
                    </div>
                </div>
                <div class="row mb-3">

                    <div class="col align-self-center">
                        <p><b class="style12">One Single Currency for all rates</b></p>
                    </div>
                    <div class="col align-self-center">
                        <input id="text1" name="text1" type="text" class="form-control" dmx-bind:value="scGetOneAgreement.data.api.data.currency">
                    </div>
                    <div class="col-2"></div>
                    <div class="col-4">
                        <div class="mb-3">
                            <label for="input10" class="form-label"><b>Auto-Prolongation in Months</b></label>
                            <input type="text" class="form-control" id="input10" name="input10" aria-describedby="input10_help" placeholder="Enter some text" dmx-bind:value="scGetOneAgreement.data.api.data.autoProlongation">
                            <small id="input10_help" class="form-text text-muted">Your input is very valuable.</small>
                        </div>
                    </div>
                </div>
                <div class="row mb-3">

                    <div class="col">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Services</th>
                                        <th scope="col">Model</th>
                                        <th scope="col">Condition</th>
                                        <th scope="col">Condition Threshold</th>
                                        <th scope="col">Increment</th>
                                        <th scope="col">Rate/Amount</th>
                                        <th scope="col" class="col-1">Rev Comm Included (Y/N)</th>
                                    </tr>
                                </thead>
                                <tbody id="discStatment" is="dmx-repeat" dmx-bind:repeat="scGetOneAgreement.data.api.data.ds">
                                    <tr>
                                        <th scope="row">{{($index + 1)}}</th>
                                        <td>
                                            <input id="text2" name="text2" type="text" class="form-control" dmx-bind:value="service">
                                        </td>
                                        <td>
                                            <input id="text3" name="text3" type="text" class="form-control" dmx-bind:value="_rm_of_ds[0].modelType">
                                        </td>
                                        <td>
                                            <input id="text4" name="text4" type="text" class="form-control" dmx-bind:value="'Unbalanced'">
                                        </td>
                                        <td>
                                            <input id="text5" name="text5" type="text" class="form-control">
                                        </td>
                                        <td>
                                            <input id="text6" name="text6" type="text" class="form-control">
                                        </td>
                                        <td>
                                            <input id="text7" name="text7" type="text" class="form-control">
                                        </td>
                                        <td>
                                            <input id="text8" name="text8" type="text" class="form-control">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="col">
                        <div class="table-responsive">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>Mark</td>
                                        <td>Otto</td>
                                        <td>@mdo</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">2</th>
                                        <td>Jacob</td>
                                        <td>Thornton</td>
                                        <td>@fat</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">3</th>
                                        <td>Larry</td>
                                        <td>the Bird</td>
                                        <td>@twitter</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </form>





        </div>
    </div>
</div>

<meta name="ac:route" content="/MasterDetailrough">

<!--
<div class="row mb-3">
                    <div class="col">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Services</th>
                                        <th scope="col">Model</th>
                                        <th scope="col">Condition</th>
                                        <th scope="col">Condition Threshold</th>
                                        <th scope="col">Increment</th>
                                        <th scope="col">Rate/Amount</th>
                                        <th scope="col" class="col-1">Rev Comm Included (Y/N)</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row"></th>
                                        <td>
                                            <input id="text9" name="text9" type="text" class="form-control">
                                        </td>
                                        <td>
                                            <input id="text9" name="text9" type="text" class="form-control">
                                        </td>
                                        <td>
                                            <input id="text9" name="text9" type="text" class="form-control">
                                        </td>
                                        <td>
                                            <input id="text9" name="text9" type="text" class="form-control">
                                        </td>
                                        <td>
                                            <input id="text9" name="text9" type="text" class="form-control">
                                        </td>
                                        <td>
                                            <input id="text9" name="text9" type="text" class="form-control">
                                        </td>
                                        <td>
                                            <input id="text9" name="text9" type="text" class="form-control">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
    -->