<dmx-serverconnect id="scGetOneAgreement" url="/api/adminOps/getOneAgreement_shadow" dmx-param:agreement_id="2"></dmx-serverconnect>
<dmx-serverconnect id="serverconnect1" url="/api/adminOps/getAllAgreements"></dmx-serverconnect><!-- Wappler include head-page="layouts/admin" fontawesome_5="cdn" bootstrap5="local" is="dmx-app" id="MasterDetailrough" appConnect="local" components="{dmxBootstrap5TableGenerator:{},dmxFormatter:{},dmxMasonry:{},dmxRouting:{},dmxDataTraversal:{}}" -->

<dmx-data-detail id="data_detail1" dmx-bind:data="scGetOneAgreement.data.api.data" key="id"></dmx-data-detail>
<div class="container mt-3 mb-3">
    <div class="row">
        <div class="col">
            <form id="form1" is="dmx-serverconnect-form" method="post" action="/api/adminOps/getOneAgreement_shadow">
                <h2 class=" text-black-50">Discount Agreement</h2>
                <p class="text-black-50 lh-lg">The Parties agree that this Discount Letter forms art of the Framework Agreement entered into between the Parties</p>
                <div class="row mb-3">
                    <div class="col">
                        <div class="mb-3">
                            <label for="inputContractId" class="form-label"><b>Contract Id</b></label>
                            <input type="text" class="form-control" id="inputContractId" name="agreementId" aria-describedby="input1_help" placeholder="Enter contract id" dmx-bind:value="scGetOneAgreement.data.api.data.id">
                            <small id="input1_help" class="form-text text-muted">Contract Id is unique between the parties in Agreement</small>
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col">
                        <div class="mb-3">
                            <label for="operator1" class="form-label"><b>Contract Parties</b></label>

                            <input type="text" class="form-control" id="operator1" name="operator1" aria-describedby="input1_help" placeholder="Enter a contract party" dmx-bind:value="scGetOneAgreement.data.api.data.operator1">
                            <small id="input11_help" class="form-text text-muted">Party part of the agreement</small>
                        </div>
                    </div>
                    <div class="col-2 align-self-center">
                        <p class="text-center fw-bold w-auto h-auto">AND</p>
                    </div>
                    <div class="col">
                        <div class="mb-3">
                            <label for="operator1" class="form-label"></label><input type="text" class="form-control" id="operator2" name="operator2" aria-describedby="input1_help" placeholder="Enter the 2nd contract party" dmx-bind:value="scGetOneAgreement.data.api.data.operator2">
                            <small id="input1_help1" class="form-text text-muted">Party part of the agreement</small>
                        </div>
                    </div>
                </div>


                <div class="row mb-4">
                    <div class="col">
                        <div class="mb-3">
                            <label for="frmkAgrContrId" class="form-label"><b>Framework Agreement Contract Id</b></label>
                            <input type="text" class="form-control" id="frmkAgrContrId" name="input3" aria-describedby="input3_help" placeholder="Enter framework agreement contract id" dmx-bind:value="scGetOneAgreement.data.api.data.frmkAgrContrId">
                            <small id="input3_help" class="form-text text-muted">framework agreement id related to this contract.</small>
                        </div>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col">
                        <div class="mb-3">
                            <label for="terminationNotice" class="form-label"><b>Time for termination notice</b></label>
                            <input type="text" class="form-control" id="terminationNotice" name="terminationNotice" aria-describedby="input4_help" placeholder="Enter termination notice time" dmx-bind:value="2">
                            <small id="input4_help" class="form-text text-muted">The&nbsp; termination notice should be provided at least x months ahead</small>
                        </div>
                    </div>
                    <div class="align-self-center col-2">
                        <p class="align-self-center">Months(s)</p>
                    </div>
                    <div class="col">
                        <div class="mb-3">
                            <label for="dateSigned" class="form-label"><b>Date Signed</b></label>
                            <input type="text" class="form-control" id="dateSigned" name="dateSigned" aria-describedby="input5_help" placeholder="Enter some text" dmx-bind:value="scGetOneAgreement.data.api.data.dateSigned">
                            <small id="input5_help" class="form-text text-muted">Date when the contract was signed</small>
                        </div>
                    </div>

                </div>
                <div class="row mb-4">
                    <div class="col align-self-center">
                        <p><b>Eligible Period:</b></p>
                    </div>
                    <div class="col">
                        <div class="mb-3">
                            <label for="periodStartDate" class="form-label"><b>Start Date</b></label>
                            <input type="text" class="form-control" id="periodStartDate" name="startDate" aria-describedby="input6_help" placeholder="Enter some text" dmx-bind:value="scGetOneAgreement.data.api.data.startDate">
                            <small id="input6_help" class="form-text text-muted">Your input is very valuable.</small>
                        </div>
                    </div>
                    <div class="col">
                        <div class="mb-3">
                            <label for="periodEndDate" class="form-label"><b>End Date</b></label>
                            <input type="text" class="form-control" id="periodEndDate" name="endDate" aria-describedby="input7_help" placeholder="Enter some text" dmx-bind:value="scGetOneAgreement.data.api.data.endDate">
                            <small id="input7_help" class="form-text text-muted">Your input is very valuable.</small>
                        </div>
                    </div>
                    <div class="col">
                        <div class="mb-3">
                            <label for="periodMonths" class="form-label"><b>Period in Months</b></label>
                            <input type="text" class="form-control" id="periodMonths" name="periodMonths" aria-describedby="input8_help" placeholder="Enter some text">
                            <small id="input8_help" class="form-text text-muted">Your input is very valuable.</small>
                        </div>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col align-self-center">
                        <p><b>Term:</b></p>
                    </div>
                    <div class="col">
                        <div class="mb-3">
                            <label for="inp_termStartDate" class="form-label"><b>Start Date</b></label>
                            <input type="text" class="form-control" id="inp_termStartDate" name="termStartDate" aria-describedby="input6_help" placeholder="Enter some text">
                            <small id="input6_help1" class="form-text text-muted">Your input is very valuable.</small>
                        </div>
                    </div>
                    <div class="col">
                        <div class="mb-3">
                            <label for="inp_termStartDate" class="form-label"><b>End Date</b></label>
                            <input type="text" class="form-control" id="termEndDate" name="termEndDate" aria-describedby="input7_help" placeholder="Enter some text">
                            <small id="input7_help1" class="form-text text-muted">Your input is very valuable.</small>
                        </div>
                    </div>
                    <div class="col">
                        <div class="mb-3">
                            <label for="inp_termStartDate" class="form-label"><b>Period in Months</b></label>
                            <input type="text" class="form-control" id="termPeriodMonths" name="termPeriodMonths" aria-describedby="input8_help" placeholder="Enter some text" dmx-bind:value="">
                            <small id="input8_help1" class="form-text text-muted">Your input is very valuable.</small>
                        </div>
                    </div>
                </div>
                <div class="row mb-3">

                    <div class="col align-self-center">
                        <p><b class="style12">One Single Currency for all rates</b></p>
                    </div>
                    <div class="col align-self-center">
                        <input id="currency1" name="currency" type="text" class="form-control" dmx-bind:value="scGetOneAgreement.data.api.data.currency">
                    </div>
                    <div class="col-2"></div>
                    <div class="col-4">
                        <div class="mb-3">
                            <label for="autoProlongation" class="form-label"><b>Auto-Prolongation in Months</b></label>
                            <input type="text" class="form-control" id="autoProlongation" name="autoProlongation" aria-describedby="input10_help" placeholder="Enter some text" dmx-bind:value="scGetOneAgreement.data.api.data.autoProlongation">
                            <small id="input10_help" class="form-text text-muted">Your input is very valuable.</small>
                        </div>
                    </div>
                </div>
                <div class="row mb-3">

                    <div class="col">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered border-dark">
                                <thead>
                                    <tr class="style17">
                                        <th scope="col" class="align-middle">#</th>
                                        <th scope="col" class="align-middle">Services</th>
                                        <th scope="col" class="col-1 text-center fw-bold lh-1 align-middle">Rating Model Details</th>
                                        <th scope="col" class="col-1 align-middle">Rev Comm Included (Y/N)</th>
                                        <th scope="col" class="col-1 align-middle text-center">Action</th>
                                    </tr>
                                </thead>

                                <tbody id="_ds_of_da" is="dmx-repeat" dmx-bind:repeat="scGetOneAgreement.data.api.data.ds">
                                    <tr class="lh-sm">
                                        <th scope="row" class="align-middle">
                                            <input id="text1" name="text1" class="form-control" dmx-bind:value="" type="hidden">
                                            <input id="text2" name="text1" class="form-control" dmx-bind:value="" type="hidden">
                                            <input id="text3" name="text1" class="form-control" dmx-bind:value="" type="hidden">
                                            <input id="text4" name="text1" class="form-control" dmx-bind:value="" type="hidden">
                                            <input id="text5" name="text1" class="form-control" dmx-bind:value="" type="hidden">
                                            <div class="container visually-hidden">
                                                <input id="text6" name="text1" class="form-control" dmx-bind:value="">
                                            </div>

                                            {{($index + 1)}}
                                        </th>
                                        <td class="style13 align-middle">
                                            <p class="form-control" dmx-show="cellVar.value == 2">{{service}}</p>
                                            <input id="txt_services" name="text2" type="text" class="form-control style14" dmx-bind:value="service" readonly="true" dmx-bind:readonly="cellVar.value ==0" dmx-bind:name="_ds_of_da[$index][service]">

                                        </td>
                                        <td class="col-10">
                                            <div class="table-responsive">
                                                <table class="table table-striped table-sm table-bordered">
                                                    <thead>
                                                        <tr class="style16">
                                                            <th scope="col">Model</th>
                                                            <th scope="col">Condition</th>
                                                            <th scope="col">Condition Threshold</th>
                                                            <th scope="col">Increment</th>
                                                            <th scope="col">Rate/Amount</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody is="dmx-repeat" id="repeatRatingModel" dmx-bind:repeat="_rm_of_ds">
                                                        <tr>
                                                            <td class="col-2">
                                                                <input id="text3" name="text3" type="text" class="form-control" dmx-bind:value="modelType" dmx-bind:readonly="cellVar.value ==0">
                                                            </td>
                                                            <td><input id="text4" name="text4" type="text" class="form-control" dmx-bind:value="'Unbalanced'" dmx-bind:readonly="cellVar.value ==0"></td>
                                                            <td><input id="text8" name="text8" type="text" class="form-control" dmx-bind:value="fromLevel" dmx-bind:readonly="cellVar.value ==0"></td>
                                                            <td><input id="text7" name="text7" type="text" class="form-control" dmx-bind:value="increment" dmx-bind:readonly="cellVar.value ==0"></td>
                                                            <td><input id="text6" name="text6" type="text" class="form-control" dmx-bind:value="rate+'    '+amount" dmx-bind:readonly="cellVar.value ==0"></td>

                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </td>
                                        <td class="align-middle"><input id="text5" name="text5" type="text" class="form-control" dmx-bind:value="revenueCommitment+'  '+volumeCommitment" dmx-bind:readonly="cellVar.value ==0"></td>
                                        <div class="align-middle"><input id="text1" name="text1" class="form-control" dmx-bind:value="" dmx-bind:readonly="cellVar.value ==0" type="hidden"></div>
                                        <td class="align-middle text-center">
                                            <dmx-value id="cellVar" dmx-bind:value="0"></dmx-value>
                                            <button id="btn1" class="btn" wappler-command="editContent" wappler-empty="Editable"><i class="fas fa-check" dmx-show="(cellVar.value == 1)" dmx-on:click="cellVar.setValue(0)"></i><i class="fas fa-pen" dmx-show="cellVar.value ==0" dmx-on:click="cellVar.setValue(1);inp_services.disable();txt_services.focus()"></i><br></button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col">
                        <button id="btnSubmit" class="btn form-control" type="submit">Button</button>
                    </div>
                </div>
            </form>





        </div>
    </div>
</div>

<meta name="ac:route" content="/MasterDetailrough">

<!--
<div class="row mb-3">
                    <div class="col">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Services</th>
                                        <th scope="col">Model</th>
                                        <th scope="col">Condition</th>
                                        <th scope="col">Condition Threshold</th>
                                        <th scope="col">Increment</th>
                                        <th scope="col">Rate/Amount</th>
                                        <th scope="col" class="col-1">Rev Comm Included (Y/N)</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row"></th>
                                        <td>
                                            <input id="text9" name="text9" type="text" class="form-control">
                                        </td>
                                        <td>
                                            <input id="text9" name="text9" type="text" class="form-control">
                                        </td>
                                        <td>
                                            <input id="text9" name="text9" type="text" class="form-control">
                                        </td>
                                        <td>
                                            <input id="text9" name="text9" type="text" class="form-control">
                                        </td>
                                        <td>
                                            <input id="text9" name="text9" type="text" class="form-control">
                                        </td>
                                        <td>
                                            <input id="text9" name="text9" type="text" class="form-control">
                                        </td>
                                        <td>
                                            <input id="text9" name="text9" type="text" class="form-control">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
    -->