<!-- Wappler include head-page="layouts/admin" fontawesome_5="cdn" bootstrap5="local" is="dmx-app" id="successPage" appConnect="local" -->
<meta name="ac:route" content="/paymentCancelPage">
<div class="container">
    <div class="row">
        <div class="col align-self-center">
            <h2 class="mt-5 text-center">Payment Canceled</h2>
        </div>
    </div>
</div>