<!-- Wappler include head-page="layouts/admin" fontawesome_5="cdn" bootstrap5="local" is="dmx-app" id="services" appConnect="local" components="{dmxBootstrap5TableGenerator:{},dmxDataTraversal:{},dmxBootstrap5Modal:{},dmxFormatter:{},dmxBootstrap5Toasts:{}}" -->
<div is="dmx-bs5-toasts" id="toasts1" class="style6"></div>
<div class="modal" id="addRoamingService" is="dmx-bs5-modal" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Roaming Service</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <form is="dmx-serverconnect-form" id="serverconnectform1" method="post" action="/api/adminOps/addRoamService" dmx-generator="bootstrap5" dmx-form-type="horizontal" dmx-populate="dd_services1.data.data" dmx-on:success="addRoamingService.hide();serverconnect2.load()">
                        <div class="mb-3 row">

                            <label for="inp_serviceName" class="col-sm-2 col style3 col-form-label">Service name</label>
                            <div class="col-sm-8 offset-2 style5">
                                <input type="text" class="form-control" id="inp_serviceName" name="svcName" dmx-bind:value="dd_services1.data.data[0].serviceName" aria-describedby="inp_serviceName_help" placeholder="Enter Service name">
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="inp_description" class="col-sm-2 col-form-label">Description</label>
                            <div class="offset-2 col-sm-8" id="col_desc">
                                <input type="text" class="form-control" id="inp_description" name="desc" dmx-bind:value="dd_services1.data.data[0].description" aria-describedby="inp_description_help" placeholder="Enter Description">
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="inp_call_type" class="col-sm-2 col-form-label">Call type</label>
                            <div class="offset-2 col-sm-8" id="col_callType">
                                <input type="text" class="form-control" id="inp_call_type" name="callType" dmx-bind:value="dd_services1.data.data[0].call_type" aria-describedby="inp_call_type_help" placeholder="Enter Call type">
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="inp_destination_group" class="col-sm-2 col-form-label">Destination group</label>
                            <div class="col-sm-8 offset-2">
                                <input type="text" class="form-control" id="inp_destination_group" name="destGrp" dmx-bind:value="dd_services1.data.data[0].destination_group" aria-describedby="inp_destination_group_help" placeholder="Enter Destination group">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" dmx-on:click="serverconnectform1.submit()">Add Service</button>
            </div>
        </div>
    </div>
</div>
<dmx-data-detail id="dd_services1" dmx-bind:data="serverconnect2.data.data"></dmx-data-detail>
<dmx-serverconnect id="serverconnect2" url="/api/adminOps/getRoamingServices"></dmx-serverconnect>
<meta name="ac:route" content="/services">

<meta name="ac:route" content="/operators">

<div class="container">

    <div class="row">
        <div class="col">
            <h4>This is services page</h4>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button id="btnAddService" class="btn btn-primary" dmx-on:click="addRoamingService.show()">Add Service</button>
        </div>
    </div>
    <div class="row">
        <div class="mt-4 mb-4 ms-2 me-2 col">
            <div class="table-responsive">
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Created at</th>
                            <th>Service name</th>
                            <th>Description</th>
                            <th>Call type</th>
                            <th>Destination group</th>
                            <th>Created at</th>
                        </tr>
                    </thead>
                    <tbody is="dmx-repeat" dmx-generator="bs5table" dmx-bind:repeat="serverconnect2.data.data" id="tableRepeat2">
                        <tr dmx-on:click="dd_services1.select(data[0].id);toasts1.show({message: 'Services table row clicked. Data detail id: '+dd_services1.data.data[0].id})">
                            <td dmx-text="id"></td>
                            <td dmx-text="created_at"></td>
                            <td dmx-text="serviceName"></td>
                            <td dmx-text="description"></td>
                            <td dmx-text="call_type"></td>
                            <td dmx-text="destination_group"></td>
                            <td dmx-text="created_at"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col">
            <div class="col mt-4 mb-4 ms-2 me-2">
                <form is="dmx-serverconnect-form" id="serverconnectform2" method="post" action="" dmx-generator="bootstrap5" dmx-form-type="horizontal" dmx-populate="dd_services1.data.data" dmx-class="dd_services1.data.data" dmx-on:success="serverconnect2.load();dd_services1.select(0)">
                    <input type="hidden" name="id" id="inp_id" dmx-bind:value="dd_services1.data.data[0].id">
                    <div class="mb-3 row">
                        <label for="inp_serviceName" class="col-sm-2 col-form-label">Service name</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inp_serviceName" name="serviceName" dmx-bind:value="dd_services1.data.data[0].serviceName" aria-describedby="inp_serviceName_help" placeholder="Enter Service name">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="inp_description" class="col-sm-2 col-form-label">Description</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inp_description" name="description" dmx-bind:value="dd_services1.data.data[0].description" aria-describedby="inp_description_help" placeholder="Enter Description">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="inp_call_type" class="col-sm-2 col-form-label">Call type</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inp_call_type" name="call_type" dmx-bind:value="dd_services1.data.data[0].call_type" aria-describedby="inp_call_type_help" placeholder="Enter Call type">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="inp_destination_group" class="col-sm-2 col-form-label">Destination group</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inp_destination_group" name="destination_group" dmx-bind:value="dd_services1.data.data[0].destination_group" aria-describedby="inp_destination_group_help" placeholder="Enter Destination group">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <div class="text-end col-sm-10 offset-2">
                            <button id="btnSvcUpdateClear" class="btn btn-secondary w-25 ms-2 me-2" dmx-on:click="dd_services1.select(0)">Clear</button>
                            <button type="submit" class="btn btn-primary w-25" dmx-bind:value="dd_services1.data.data[0].Save" id="btnSvcUpdate">Save</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>